/*

Description:        This is the main stylesheet for ShortSend. 

Version:            1.0

Author:             ShortSend

*/


/********************* THE RESET  *************************/

* {
    margin:0;
    padding:0;
}

body,html {
    line-height:1;
    width:100%;
    height:100%;
    font-size:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust: 100%;
    background: #ffffff;
    -webkit-tap-highlight-color: #ecf1f4;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
    background:transparent;
}

article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
    background:transparent;
	display:block;
}

audio, canvas, video {
    display:inline-block;
    *display:inline;
    *zoom:1;
}

img, figure, embed, object, video {
	max-width: 100%
}

[hidden] {
    display: none;
}

a:active,a:hover {
    outline:0;
}

ol, ul {
    list-style: none;
}

input, select {
    vertical-align:middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

/*********************************************************/

/********************* GLOBAL SETTINGS  *************************/

*{margin:0; padding:0; font-size:12px; line-height:1.5em;font-weight:400;}

body, html{margin: 0;padding: 0;height: 100%;width: 100%; color:#4a4a4a}

html{}

body {
    background: #f9f9f9 url(../images/body-pattern.png) repeat;
}

h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 25px; }
h4 { font-size: 20px; }

a{outline:none;}

a.current{color:#8af6f4;}

nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

ul {list-style: none;}

img{border:none;}

.clear{clear:both}

.rel{position: relative;z-index: inherit;zoom: 1;}

.divider{border-bottom:1px dotted #e7e7e7;height:8px;}

.highlight{color:#FFF;background-color:#333;padding:2px;}

.float-left{float:left;}

.float-right{float:right;}

.aligncenter, div.aligncenter{display:block;margin: 0px auto 0px auto;}

.alignright{float:right;margin: 5px 0 20px 20px;}

.alignleft{float:left;margin: 5px 20px 20px 0;}

div.close {float:right; color: #fff; font-size: 12px; text-decoration: none; margin-right:5px;}

.rounded {behavior: url(border-radius.htc);}

input, 
textarea, 
input[type=search] {
	background: #f4f4f4;
	border: solid 1px #a3a3a3;
	padding: 5px 10px;
	font: 15px "Times New Roman", Times, serif;
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-appearance: none; /* reset webkit search style */
}

input[type=text]:focus, 
textarea:focus,
input[type=search]:focus {
	background: #fff;
	border-color: #333;
	outline: none; /* remove outline */
}

.placeholder {
	color: #bbb;
}

::-webkit-input-placeholder {
	color: #bbb;
}

:-moz-placeholder {
	color: #bbb;
}

input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}
 
/*********************************************************************/

/*************************** NAVIGATION *********************************/


nav ul {
    list-style:none;
    float: right;
    margin: 0px 7px 0px 0px;
}

nav ul li {
    float:left;
    margin-left:0px;
    height: 70px;
    font-size: 14px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #ffffff;
}

nav ul li:last-child {
    border-right: none;


}

nav ul li a {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    float:left;
    text-decoration: none;
    color: #818181;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 20px 30px 0px 30px;
}

nav ul li a:hover {
    color: #7eb746;
}

nav ul li a.active {
    color: #7eb746;
}

#mobile-nav {
    display:none;
    background: url(../images/mobile-nav.png);
    width:38px;
    height: 38px;
    float: right;
    margin: 9px 8px 0px 0px;
    cursor: pointer;
 }


/*******************************************************************/

.site-container {
    width: 1000px;
    margin: 0px auto;
}

header {
    height: 72px;
    background: #ffffff url(../images/header-bg.png) repeat;
    border-top: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    overflow: hidden;
    margin-top: 20px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#logo {
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #f26a5b;
    margin: 12px 0px 0px 15px;
    text-shadow: 0 0 1px #fff;

}

#top-half {
    background: url(../images/content-slide-bg.jpg);
    width: 999px;
    height: 390px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
}

#slide-content {
    float: left;
    margin: 28px 0px 0px 32px;
    z-index: 99999999;
    height: 390px;
}
#info-graphic {
    background: url(../images/slider-info-graphic.png);
    width: 377px;
    height: 287px;
    margin: 23px 0px 0px 20px;
    float: left;
}

#slide-desc {
    width: 480px;
    float: left;
    margin: 63px 0px 0px 33px;
    overflow: hidden;
}

#slide-desc h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 44px;
    line-height: 54px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.75); /* drop shadow */
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #cacaca;
}

#slide-desc h3{
    font-family: 'Source Sans Pro', sans-serif;
    color: #e2fec6;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(0,0,0,.75);
    line-height: 30px;
    font-weight: 500;
    text-shadow: 0 1px 0 rgba(0,0,0,.75);
    margin-top: 15px;
    text-align: center;
}

#mid-section {
    background: url(../images/mid-section-bg.png) repeat-x;
    height: 50px;
    width: 998px;
    border-left: 1px solid #b8b8b8;
    border-right: 1px solid #b8b8b8;
    border-bottom: 1px solid #dddddd;
}

#bottom-half {
    overflow: hidden;   
}

#body-content {
    background-color: #ffffff;
    width: 998px;
    float:left;
    margin: 0px 0px 0px 0px;
    background-color: #ffffff;
    border-left: 1px solid #b8b8b8;
    border-right: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    float: left;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    overflow: hidden;
    min-height: 480px;
}

#left-sidebar {
    width:250px;
    height: 500px;
    float:left;
    margin-left: 18px;
}

#left-sidebar .title {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #b7d599;
    -moz-box-shadow: 1px 2px 0 #79985a;
    -webkit-box-shadow: 1px 2px 0 #79985a;
    box-shadow: 1px 2px 0 #79985a;
    color: #fdfdfd;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(126,165,87,.75);
    padding: 6px;
    text-align: center;
    margin-top: 20px;
}

#left-sidebar p {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #ffffff;
    color: #605454;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 26px;
    padding: 6px;
    margin-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}

#left-sidebar-divider {
    background: url(../images/sidebar-divider.png) repeat-y;
    width:26px;
    min-height: 500px;
    float:left;
    margin-left: 15px;
}

#right-content {
    background: url(../images/map.png) no-repeat;
    width:630px;
    min-height: 480px;
    float:left;
    margin: 20px 0px 0px 20px;
    float: left;
}

#right-content h3 {
    color: #969696;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 9px;
}

#video {
    width: 536px;
    height: 302px;
    margin: 30px auto;
    border: 3px solid #ffffff;
    -moz-box-shadow: 0 0 3px #b7b7b7;
    -webkit-box-shadow: 0 0 3px #b7b7b7;
    box-shadow: 0 0 3px #b7b7b7;

}

#features {
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.features-row {
    overflow: hidden;
    clear: both;
    margin: 12px 0px 0px 0px;
    height: 27px;
    float: left;
    padding-bottom: 12px; 
    border-bottom: 1px dotted #d2d2d2;
    
}

.one {
    margin-left:40px; 
}

.two {
    margin-left:34px; 
}

.three {
    margin-left:29px; 
}

.four {
    margin-left:16px; 
}

.five {
    margin-left:30px; 
}

.six {
    margin-left:147px; 
}

.features-row p{
    font-size: 20px;
    color: #4a4542;
    font-family: 'Source Sans Pro', sans-serif;
    float: left;
}

.features-title {
    background: url(../images/features-title-bg.png) repeat-x;
    height: 59px;
    padding-top: 12px;
    width:90%;
    float:left;
    margin: 20px 0px 0px 20px;
    color: #ec8075;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    text-align: center;
}

.features-bullet {
    background: url(../images/bullet.png) repeat-x;
    height: 6px;
    width:6px;
    float:left;
    margin: 13px 15px 0px 15px;
}

footer {
    height: 50px;
    width: 100%;
    overflow: hidden;
}


